In [1]:
from datascience import *
import numpy as np
import matplotlib

%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

import warnings
warnings.simplefilter("ignore")

## Review

In [2]:
ckd = Table.read_table('ckd.csv').relabeled('Blood Glucose Random', 'Glucose')
ckd.sample(3).show(3)

In [3]:
ckd = ckd.select('Hemoglobin', 'Glucose', 'Class')
ckd.show(3)

In [4]:
ckd.sample(3).show(3)

### How do we evaluate our prediction machine?

#### Training and testing sets

- The training set and testing set need to be determined at random.
- In the following code, we are *permuting* the rows randomly and then extracting a test subset and training subset using `np.take()`.

**Task**: Split the data in the `ckd` table into training and testing sets of (roughly) equal size.

In [5]:
halfway = round(ckd.num_rows/2)
halfway

79

In [6]:
shuffled_patients = ckd.sample(with_replacement=False)

In [7]:
training = shuffled_patients.take(np.arange(halfway))
testing = shuffled_patients.take(np.arange(halfway, ckd.num_rows))

In [8]:
training.num_rows

79

In [9]:
testing.num_rows

79

## New material

### How can we find the *k*-nearest neighbors?

- We will work with the `ckd` dataset
- Goal: predict whether an out-of-sample patient has the disease or not.
   - using the entire `ckd` dataset as training.

Here's our out-of-sample point ("Alice") for today.

In [10]:
alice = make_array(0,1.1)
alice

array([ 0. ,  1.1])

#### Detour: Rows and row objects

In [11]:
ckd.row(0)

Row(Hemoglobin=11.199999999999999, Glucose=117, Class=1)

In [12]:
type(ckd.row(0))

datascience.tables.Row

In [13]:
ckd.row(0).item(1)

117

In [14]:
make_array(ckd.row(0))

array([[11.199999999999999, 117, 1]], dtype=object)

Let's save the first training point (as a row object) into the name `patient`.

In [15]:
patient = ckd.drop('Class').row(0)
patient

Row(Hemoglobin=11.199999999999999, Glucose=117)

In [16]:
make_array(patient)

array([[11.199999999999999, 117]], dtype=object)

#### **Task**: Let's find a distance between `alice` and the first training point.

$$ \text{D} = \sqrt{(x_0-x_1)^2 + (y_0-y_1)^2} $$

In [17]:
(alice.item(0) - patient.item(0)) ** 2 + (alice.item(1) - patient.item(1)) ** 2

13558.250000000002

In [18]:
#this is an array 
alice

array([ 0. ,  1.1])

In [19]:
#This is an array
make_array(patient)

array([[11.199999999999999, 117]], dtype=object)

**Discussion Question** [1 min] Is there a quicker way to do the part $(x_0-x_1)^2 + (y_0-y_1)^2$?

- *Hint*: do we have to access the individual elements using the `.item` method, or can we do something simpler?

In [20]:
alice-make_array(patient)

array([[-11.199999999999999, -115.90000000000001]], dtype=object)

In [21]:
(alice-make_array(patient))**2

array([[125.43999999999998, 13432.810000000001]], dtype=object)

In [22]:
np.sum((alice-make_array(patient))**2)

13558.250000000002

In [23]:
np.sum((alice-make_array(patient))**2) ** 0.5

116.43989866021012

In [24]:
def distance(point1, point2):
    """Returns the distance between point1 and point2
    where each argument is an array 
    consisting of the coordinates of the point"""
    return np.sum((point1-point2)**2) ** 0.5

In [25]:
distance(alice, make_array(patient))

116.43989866021012

In [26]:
def distance_from_alice(row):
    return distance(alice, make_array(row))

In [27]:
distance_from_alice(ckd.drop('Class').row(0))

116.43989866021012

_______

#### **Task**: Calculate the Euclidean distance between `alice` and every point in the training set.

In [28]:
ckd.drop('Class').take(np.arange(5))

Hemoglobin | Glucose
11.2       | 117
9.5        | 70
10.8       | 380
5.6        | 157
7.7        | 173

**Discussion Question** [1 min]: What's a method we can use to help us?

In [29]:
distances = ckd.drop('Class').apply(distance_from_alice)

In [30]:
def all_distances(training, new_row):
    """Returns an array of distances
    between each point in the training set
    and the new point (which is a row of attributes)"""
    attributes = training.drop('Class')
    def distance_from_new_row(row):
        return distance(make_array(new_row), make_array(row))
    return attributes.apply(distance_from_new_row)

In [31]:
distances = all_distances(ckd.drop('Class'), alice)

In [32]:
distances

array([ 116.43989866,   69.55185116,  379.05388799,  156.00054487,
        172.0723685 ,   94.41001006,  263.19699846,   69.62190747,
        252.11874187,  162.19633165,  128.22332081,  132.3015495 ,
         75.23576277,  279.20281159,  209.5194979 ,  218.14804606,
        294.0439593 ,  117.4545444 ,  223.04712507,  127.16465704,
        117.514297  ,  104.49124365,  287.00874551,  272.02665311,
        121.55480246,  302.07907905,  101.27437978,  106.22476171,
        116.33060646,  238.08960498,   93.42601351,  128.15623278,
        251.14985566,  254.00492121,  252.13571742,  213.1788451 ,
        489.0352339 ,  162.09262784,  240.0920032 ,  213.10741423,
        105.25193585,  423.08766231,  174.92747068,  139.70758748,
         70.96625959,   82.44768038,  118.90151387,   98.75935399,
        120.66884436,  130.70677106,   90.98356995,   97.89187913,
        104.15190829,  130.66300165,  122.08935253,  117.92311054,
        117.02670635,  131.6896731 ,   96.9456033 ,  132.55885485,
        121.69642558,  120.83463907,  110.82644089,   95.89812303,
        138.69192478,  124.99383985,  122.90687532,  111.84390909,
        139.85313725,  129.82857929,  122.77120998,  100.33354374,
         94.26775695,   81.2409995 ,   93.38720469,  123.79991922,
         89.4723421 ,  125.03379543,   90.90797545,  126.80228705,
         96.39304954,  127.57437047,  122.10331691,  127.80708118,
        136.57880509,   81.10006165,  101.75976612,  131.61496875,
        104.34414215,  130.8333673 ,  102.00887216,  120.16642626,
        105.07949372,  108.79163571,  129.87694176,   99.885985  ,
        109.05067629,  119.65270578,   80.1499844 ,  129.60501534,
         99.4871851 ,  133.65646262,   91.97178915,  132.10469333,
         87.91188771,   99.92847442,  129.59463723,   95.09053581,
        111.08757806,  105.88375702,   96.84554714,  108.37181368,
         98.84012343,   83.74879104,  108.93764271,   85.98238192,
        101.95082148,   95.09053581,   87.58550108,  106.76970544,
        116.62679795,   88.58583408,  104.93474163,   70.24884341,
         89.17067904,  117.83314474,   81.29581785,  125.11582634,
         82.2606832 ,  106.76970544,   83.48682531,   79.86344596,
        108.93764271,  132.60957733,  111.1022052 ,   74.44743112,
         88.43398668,   96.88782173,   78.567296  ,  112.94113511,
         75.78555271,  118.71655318,  131.80276932,  113.10994651,
        100.25053616,   93.40503198,   94.18418126,  112.19540989,
         99.04246564,   85.33797513,  132.72772883,  116.62679795,
        136.62949901,  139.78447696,   75.71961437,  100.15413122,
        113.78949864,  130.8573651 ])

______

#### **Task:** Augment the training data table with a column containing all the distances.

In [33]:
ckd.with_column('Distance from Alice', distances)

Hemoglobin | Glucose | Class | Distance from Alice
11.2       | 117     | 1     | 116.44
9.5        | 70      | 1     | 69.5519
10.8       | 380     | 1     | 379.054
5.6        | 157     | 1     | 156.001
7.7        | 173     | 1     | 172.072
9.8        | 95      | 1     | 94.41
12.5       | 264     | 1     | 263.197
10         | 70      | 1     | 69.6219
10.5       | 253     | 1     | 252.119
9.8        | 163     | 1     | 162.196
... (148 rows omitted)

In [34]:
def table_with_distances(training, new_point):
    """Augments the training table 
    with a column of distances from new_point"""
    return training.with_column('Distance', all_distances(training, new_point))

In [35]:
ckd_with_distances = table_with_distances(ckd, alice)

_______

#### **Task**: Find the 5 nearest neighbors.

**Discussion Question** [1 min]: Think of two table methods that will help us return a *table* with the five nearest neighbors.

In [36]:
ckd_with_distances.sort('Distance')

Hemoglobin | Glucose | Class | Distance
9.5        | 70      | 1     | 69.5519
10         | 70      | 1     | 69.6219
13.7       | 70      | 0     | 70.2488
17         | 70      | 0     | 70.9663
15.1       | 74      | 0     | 74.4474
7.1        | 76      | 1     | 75.2358
16.5       | 75      | 0     | 75.7196
16.8       | 75      | 0     | 75.7856
16.1       | 78      | 0     | 78.5673
17.6       | 79      | 0     | 79.8634
... (148 rows omitted)

In [37]:
ckd_with_distances.sort('Distance').take(np.arange(5))

Hemoglobin | Glucose | Class | Distance
9.5        | 70      | 1     | 69.5519
10         | 70      | 1     | 69.6219
13.7       | 70      | 0     | 70.2488
17         | 70      | 0     | 70.9663
15.1       | 74      | 0     | 74.4474

In [38]:
def nearest(training, new_point, k):
    """Returns a table of the k rows of the augmented table
    corresponding to the k smallest distances"""
    with_dists = table_with_distances(training, new_point)
    sorted_by_distance = with_dists.sort('Distance')
    nearest_neighbors_table = sorted_by_distance.take(np.arange(k))
    return nearest_neighbors_table

In [39]:
five_nearest_neighbors = nearest(ckd, alice, 5)
five_nearest_neighbors

Hemoglobin | Glucose | Class | Distance
9.5        | 70      | 1     | 69.5519
10         | 70      | 1     | 69.6219
13.7       | 70      | 0     | 70.2488
17         | 70      | 0     | 70.9663
15.1       | 74      | 0     | 74.4474

### How do we classify the point?

#### **Task**: Find the majority class (programatically).

##### Method 1

In [40]:
ones = five_nearest_neighbors.where('Class', are.equal_to(1)).num_rows

In [41]:
zeros = five_nearest_neighbors.where('Class', are.equal_to(0)).num_rows

In [42]:
if ones > zeros:
    print(1)
else:
    print(0)

0

In [43]:
def majority(nearest_neighbors_table):
    """1 if the majority of the "Class" column is 1s, and 0 otherwise."""
    ones = nearest_neighbors_table.where('Class', are.equal_to(1)).num_rows
    zeros = nearest_neighbors_table.where('Class', are.equal_to(0)).num_rows
    if ones > zeros:
        return 1
    else:
        return 0

In [44]:
majority(five_nearest_neighbors)

0

##### Method 2

**Discussion Question:** [2 min]

You are given the `five_nearest_neighbors` table. Write out on a piece of paper (or type on your notes app) a line(s) of code that will find the majority class and return it as a string/number, *regardless* of whether the classes are called 0 or 1, or whatever their names are!

In [45]:
five_nearest_neighbors.group('Class')

Class | count
0     | 3
1     | 2

In [46]:
five_nearest_neighbors.group('Class').sort('count', descending=True)

Class | count
0     | 3
1     | 2

In [47]:
five_nearest_neighbors.group('Class').sort('count', descending=True).column('Class')

array([0, 1])

In [48]:
five_nearest_neighbors.group('Class').sort('count', 
                                           descending=True).column('Class').item(0)

0

In [49]:
def majority(nearest_neighbors_table, class_name):
    return nearest_neighbors_table.group(class_name).sort('count', 
                                                         descending=True).column(class_name).item(0)

In [50]:
majority(five_nearest_neighbors, 'Class')

0

#### **Task:** Write a function to complete the entire algorithm!

In [51]:
five_nearest_neighbors = nearest(ckd, alice, 5)
majority(five_nearest_neighbors, 'Class')

0

In [52]:
def knn(training, class_name, new_point, k):
    nearest_neighbors_table = nearest(training, new_point, k)
    return majority(nearest_neighbors_table, class_name)

In [53]:
knn(ckd, 'Class', alice, 5)

0

#### Here are all the functions, in order, that made up this algorithm.

In [54]:
def distance(point1, point2):
    """Returns the distance between point1 and point2
    where each argument is an array 
    consisting of the coordinates of the point"""
    return np.sum((point1-point2)**2) ** 0.5

def all_distances(training, new_row):
    """Returns an array of distances
    between each point in the training set
    and the new point (which is a row of attributes)"""
    attributes = training.drop('Class')
    def distance_from_new(row):
        return distance(make_array(new_row), make_array(row))
    return attributes.apply(distance_from_new)


def table_with_distances(training, new_point):
    """Augments the training table 
    with a column of distances from new_point"""
    return training.with_column('Distance', all_distances(training, new_point))


def nearest(training, new_point, k):
    """Returns a table of the k rows of the augmented table
    corresponding to the k smallest distances"""
    with_dists = table_with_distances(training, new_point)
    sorted_by_distance = with_dists.sort('Distance')
    nearest_neighbors_table = sorted_by_distance.take(np.arange(k))
    return nearest_neighbors_table


def majority(nearest_neighbors_table, class_name):
    return nearest_neighbors_table.group(class_name).sort('count', 
                                                         descending=True).column(class_name).item(0)


def knn(training, class_name, new_point, k):
    nearest_neighbors_table = nearest(training, new_point, k)
    return majority(nearest_neighbors_table, class_name)

____

**Challenge Task**  [1 min] : Perform $k$-NN using the entire `banknotes` dataset as training! Make up a test point like we did with `alice` for the `ckd` dataset. What will the Euclidean distance calculation look like on paper if you use all of the variables (except `"Class"`) as predictors?

In [55]:
banknotes = Table.read_table('banknote.csv')
banknotes.sample(6)

WaveletVar | WaveletSkew | WaveletCurt | Entropy  | Class
4.0446     | 11.1741     | -4.3582     | -4.7401  | 0
-4.0786    | 2.9239      | 0.87026     | -0.65389 | 1
2.7744     | 6.8576      | -1.0671     | 0.075416 | 0
0.60731    | 3.9544      | -4.772      | -4.4853  | 1
1.2616     | 4.4303      | -1.3335     | -1.7517  | 0
-3.38      | -0.7077     | 2.5325      | 0.71808  | 1

In [57]:
training_set, testing_set = banknotes.split(banknotes.num_rows // 2)

In [58]:
testing_attribute = testing_set.drop('Class')
correct_num = 0
for i in np.arange(testing_set.num_rows):
    test_class = knn(training_set, 'Class', testing_attribute.row(i), 5)
    correct_num += (test_class == testing_set.column('Class').item(i))
accuracy = correct_num / testing_set.num_rows
accuracy

0.9985422740524781

In [61]:
correct_num, testing_set.num_rows, accuracy

(685, 686, 0.9985422740524781)